<footer class="container fixed-bottom m-3 text-center text-secondary">
  Copyright &copy; <a href="https://github.com/FrazaAdityaWiguna" class="text-decoration-none text-reset">Fraza</a> 2022
</footer>